# Gini

In [548]:
%load_ext autoreload
%autoreload 2
import altair as alt
import fetch_data as fd
import pandas as pd
import numpy as np

SHOULD_LOG = True

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [549]:
city_info = fd.get_city_info()
city_info.head()

  regional key               city   sq km  population
0     11000000             Berlin  891.12     3685265
1     02000000            Hamburg  755.09     1862565
2     09162000            München  310.70     1505005
3     05315000               Köln  405.02     1024621
4     06412000  Frankfurt am Main  248.31      756021

In [550]:
YEARS = [i for i in range(2016, 2025)]
df_dict = fd.get_dfs(YEARS)
df = pd.concat(df_dict.values(), ignore_index=True)

## Data Cleaning

Severity of accidents.

In [551]:
df = pd.get_dummies(df, columns=["UKATEGORIE"], prefix="inj", dtype=int)
df.rename(
    columns={
        "inj_3": "inj_light",
        "inj_2": "inj_serious",
        "inj_1": "inj_fatal",
    },
    inplace=True,
)

Group on the `Community_key` (city) and `UJAHR` the year. Additionally, aggregate metrics we care about.

In [552]:
agg_methods = {
    "inj_light": "sum",
    "inj_serious": "sum",
    "inj_fatal": "sum",
    "IstFuss": "sum",
    "IstRad": "sum",
    "ULAND": "first",
}


df_grouped = df.groupby(["Community_key", "UJAHR"]).agg(agg_methods).reset_index()

Perform an inner join on `"regional key"` with `df_grouped` and `city_info`.

In [553]:
df_grouped.rename(columns={"Community_key": "regional key"}, inplace=True)
df_merged = df_grouped.merge(city_info, on="regional key", how="inner")

Calculate some metrics we care about.

In [554]:
# Calculate the total personal injury accidents
df_merged["inj_total"] = (
    df_merged["inj_light"] + df_merged["inj_serious"] + df_merged["inj_fatal"]
)

In [555]:
df_merged[df_merged["UJAHR"] == 2024].head()

,regional key,UJAHR,inj_light,inj_serious,inj_fatal,IstFuss,IstRad,ULAND,city,sq km,population,inj_total
8,01001000,2024,325,22,2,34,151,01,Flensburg,56.73,96326,349
17,01002000,2024,930,93,4,102,514,01,Kiel,118.65,252668,1027
26,01003000,2024,1008,109,1,104,611,01,Lübeck,214.19,216889,1118
35,01004000,2024,329,33,0,32,136,01,Neumünster,71.66,79809,362
44,01051011,2024,51,9,0,5,25,01,Brunsbüttel,65.21,12692,60

In [556]:
df_merged[df_merged["UJAHR"] == 2024].describe()

,UJAHR,inj_light,inj_serious,inj_fatal,IstFuss,IstRad,sq km,population,inj_total
count,2050.0,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2.050000e+03,2050.000000
mean,2024.0,84.535610,13.824390,0.693659,10.487317,34.477073,73.501815,2.998465e+04,99.053659
std,0.0,349.707445,46.972889,1.799031,53.794324,154.442712,63.039939,1.130745e+05,397.130578
min,2024.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.710000,4.470000e+02,1.000000
25%,2024.0,12.000000,3.000000,0.000000,1.000000,3.000000,32.645000,6.264250e+03,17.000000
50%,2024.0,29.000000,7.000000,0.000000,3.000000,9.000000,59.885000,1.275250e+04,37.000000
75%,2024.0,65.000000,13.000000,1.000000,7.000000,26.000000,93.605000,2.517450e+04,80.000000
max,2024.0,10739.000000,1641.000000,48.000000,1712.000000,4452.000000,891.120000,3.685265e+06,12428.000000

## Gini

We calculate the Gini index. Normally, the Gini index is used as a measure for wealth disparity. Here, we seek to use it as a metric to inform about the relative share of fatalities between cities. In this context, a Gini coefficient of 0 would mean that fatalities are equally distributed between cities while a Gini coefficient of 1 would mean that the fatalities are are concentrated in one city.

In [557]:
pop_label = "population"
val_label = "IstRad"


# Gini Calculation Lifted from Lucas. Retrieved from:
# https://gitlab.com/ComputationalScience/overdose-da
def calc_gini(
    df: pd.DataFrame, pop_label: str = pop_label, val_label: str = val_label
) -> float:
    pop = df.sort_values(pop_label, ascending=True)[pop_label].sum()
    val = df.sort_values(pop_label, ascending=True)[val_label].sum()

    """
        From Lucas:
        gini = 1 - 2 * np.trapezoid(
            [
                data.sort_values(by=["Population"], ascending=False)[:i]["Deaths"].sum()
                / deaths
                for i in range(
                    len(data.sort_values(by=["Population"], ascending=False)["Deaths"])
                )
            ],
            [
                data.sort_values(by=["Population"], ascending=False)[:i]["Population"]
                .astype(int)
                .sum()
                / population
                for i in range(
                    len(data.sort_values(by=["Population"], ascending=False)["Population"])
                )
            ],
        )
    """
    return 1 - np.trapezoid(
        [
            df.sort_values(pop_label, ascending=True)[:i][val_label].sum() / val
            for i in range(len(df.sort_values(pop_label, ascending=True)[val_label]))
        ],
        [
            df.sort_values(pop_label, ascending=True)[:i][pop_label].sum() / pop
            for i in range(len(df.sort_values(pop_label, ascending=True)[pop_label]))
        ],
    )

In [558]:
gini_arr: list[float] = []

for year in YEARS:
    df_yr = df_merged[df_merged["UJAHR"] == year][[pop_label, val_label]]

    if SHOULD_LOG:
        pop = df_yr.sort_values(pop_label, ascending=False)[pop_label].sum()
        val = df_yr.sort_values(pop_label, ascending=False)[val_label].sum()

        print(f"Year {year}:")
        print(f"  {pop_label}: {pop:,},")
        print(f"  {val_label}: {val:,}")

    gini = calc_gini(df_yr)
    gini_arr.append(gini)

Year 2016:
  population: 29,620,282,
  IstRad: 28,880
Year 2017:
  population: 38,647,128,
  IstRad: 38,044
Year 2018:
  population: 42,342,879,
  IstRad: 46,960
Year 2019:
  population: 60,339,534,
  IstRad: 62,841
Year 2020:
  population: 61,405,487,
  IstRad: 64,356
Year 2021:
  population: 44,960,564,
  IstRad: 47,537
Year 2022:
  population: 61,462,283,
  IstRad: 67,957
Year 2023:
  population: 61,464,853,
  IstRad: 71,590
Year 2024:
  population: 61,468,529,
  IstRad: 70,678

In [559]:
if SHOULD_LOG:
    print("\n".join([f"{y}: {g:0.3f}" for y, g in zip(YEARS, gini_arr)]))

2016: 0.636
2017: 0.621
2018: 0.657
2019: 0.624
2020: 0.622
2021: 0.643
2022: 0.614
2023: 0.611
2024: 0.607

In [ ]:
title = " ".join(val_label.split("_")).title() if "_" in val_label else val_label

chart = (
    alt.Chart(pd.DataFrame({"Year": YEARS, "Gini": gini_arr}))
    .mark_line(point=True)
    .properties(
        title=f"Gini Coefficient of {title} per Year",
        width=600,
        height=400,
    )
    .encode(x="Year:O", y="Gini:Q")
    .interactive()
)
chart.show()

alt.Chart(...)

Lets now try to compare the gini index per state.

In [ ]:
land_LUT: dict[int, str] = {
    1: "Schleswig-Holstein",
    2: "Hamburg",
    3: "Niedersachsen",
    4: "Bremen",
    5: "Nordrhein-Westfalen",  # data as from 2019
    6: "Hessen",
    7: "Rheinland-Pfalz",  # data as from 2017
    8: "Baden-Württemberg",
    9: "Bayern",
    10: "Saarland",  # data as from 2017
    11: "Berlin",  # data as from 2018
    12: "Brandenburg",  # data as from 2017
    13: "Mecklenburg-Vorpommern",  # data as from 2020
    14: "Sachsen",
    15: "Sachsen-Anhalt",
    16: "Thüringen",  # data as from 2019
}

In [562]:
gini_arr: list[dict[str, float | str | int]] = []

for year in YEARS:
    # group by state for this year
    df_yr = df_merged[df_merged["UJAHR"] == year][[pop_label, val_label, "ULAND"]]
    if SHOULD_LOG:
        print(f"Year {year}:")

    for l_id, l_name in land_LUT.items():
        # We skip Berlin (11) and Hamburg (2) since they are city-states. Thus, the Gini
        # is 1 and not informative
        if l_id in [2, 11]:
            continue

        df_land = df_yr[df_yr["ULAND"] == f"{l_id:02}"]

        # Skip if we have no data for this land in this year
        if df_land.empty:
            continue

        if SHOULD_LOG:
            pop = df_land[pop_label].sum()
            val = df_land[val_label].sum()

            print(f"  Land {l_name}:")
            print(f"    {pop_label}: {pop:,}")
            print(f"    {val_label}: {val:,}")

        gini = calc_gini(df_land)
        gini_arr.append(
            {
                "Year": year,
                "Land": l_name,
                "Gini": gini,
            }
        )

Year 2016:
  Land Schleswig-Holstein:
    population: 1,646,633
    IstRad: 2,710
  Land Bremen:
    population: 704,881
    IstRad: 1,176
  Land Hessen:
    population: 4,793,518
    IstRad: 2,995
  Land Rheinland-Pfalz:
    population: 2,179,485
    IstRad: 1,510
  Land Baden-Württemberg:
    population: 7,771,930
    IstRad: 6,041
  Land Bayern:
    population: 7,378,877
    IstRad: 8,848
  Land Sachsen:
    population: 3,282,393
    IstRad: 3,394
Year 2017:
  Land Schleswig-Holstein:
    population: 1,646,633
    IstRad: 2,521
  Land Niedersachsen:
    population: 4,942,438
    IstRad: 5,579
  Land Bremen:
    population: 704,881
    IstRad: 1,189
  Land Hessen:
    population: 4,793,518
    IstRad: 2,842
  Land Rheinland-Pfalz:
    population: 2,180,424
    IstRad: 1,520
  Land Baden-Württemberg:
    population: 7,771,930
    IstRad: 6,037
  Land Bayern:
    population: 7,375,585
    IstRad: 8,917
  Land Saarland:
    population: 599,519
    IstRad: 293
  Land Brandenburg:
    population: 1,677,867
    IstRad: 1,945
  Land Sachsen:
    population: 3,282,393
    IstRad: 3,306
  Land Sachsen-Anhalt:
    population: 1,809,375
    IstRad: 1,715
Year 2018:
  Land Schleswig-Holstein:
    population: 1,646,633
    IstRad: 2,706
  Land Niedersachsen:
    population: 4,941,991
    IstRad: 6,128
  Land Bremen:
    population: 704,881
    IstRad: 1,305
  Land Hessen:
    population: 4,802,947
    IstRad: 3,208
  Land Rheinland-Pfalz:
    population: 2,179,485
    IstRad: 1,653
  Land Baden-Württemberg:
    population: 7,771,930
    IstRad: 6,663
  Land Bayern:
    population: 7,378,877
    IstRad: 9,803
  Land Saarland:
    population: 599,519
    IstRad: 345
  Land Brandenburg:
    population: 1,677,018
    IstRad: 2,139
  Land Sachsen:
    population: 3,282,393
    IstRad: 3,692
  Land Sachsen-Anhalt:
    population: 1,809,375
    IstRad: 1,803
Year 2019:
  Land Schleswig-Holstein:
    population: 1,646,633
    IstRad: 2,819
  Land Niedersachsen:
    population: 4,942,438
    IstRad: 6,066
  Land Bremen:
    population: 704,881
    IstRad: 1,174
  Land Nordrhein-Westfalen:
    population: 16,459,801
    IstRad: 15,821
  Land Hessen:
    population: 4,802,947
    IstRad: 3,093
  Land Rheinland-Pfalz:
    population: 2,180,424
    IstRad: 1,633
  Land Baden-Württemberg:
    population: 7,769,136
    IstRad: 6,590
  Land Bayern:
    population: 7,375,386
    IstRad: 9,677
  Land Saarland:
    population: 599,519
    IstRad: 325
  Land Brandenburg:
    population: 1,677,867
    IstRad: 2,087
  Land Sachsen:
    population: 3,301,261
    IstRad: 3,545
  Land Sachsen-Anhalt:
    population: 1,808,476
    IstRad: 1,823
  Land Thüringen:
    population: 1,522,935
    IstRad: 873
Year 2020:
  Land Schleswig-Holstein:
    population: 1,646,633
    IstRad: 2,661
  Land Niedersachsen:
    population: 4,973,010
    IstRad: 5,860
  Land Bremen:
    population: 704,881
    IstRad: 1,097
  Land Nordrhein-Westfalen:
    population: 16,459,801
    IstRad: 15,528
  Land Hessen:
    population: 4,802,947
    IstRad: 3,066
  Land Rheinland-Pfalz:
    population: 2,180,424
    IstRad: 1,761
  Land Baden-Württemberg:
    population: 7,771,930
    IstRad: 6,758
  Land Bayern:
    population: 7,376,062
    IstRad: 9,798
  Land Saarland:
    population: 599,519
    IstRad: 373
  Land Brandenburg:
    population: 1,677,867
    IstRad: 2,234
  Land Mecklenburg-Vorpommern:
    population: 1,016,722
    IstRad: 1,183
  Land Sachsen:
    population: 3,301,261
    IstRad: 3,734
  Land Sachsen-Anhalt:
    population: 1,808,476
    IstRad: 1,774
  Land Thüringen:
    population: 1,538,124
    IstRad: 941
Year 2021:
  Land Schleswig-Holstein:
    population: 1,646,884
    IstRad: 2,460
  Land Niedersachsen:
    population: 4,988,056
    IstRad: 6,066
  Land Bremen:
    population: 704,881
    IstRad: 957
  Land Hessen:
    population: 4,802,947
    IstRad: 3,132
  Land Rheinland-Pfalz:
    population: 2,180,424
    IstRad: 1,670
  Land Baden-Württemberg:
    population: 7,771,930
    IstRad: 6,938
  Land Bayern:
    population: 7,377,493
    IstRad: 9,792
  Land Saarland:
    population: 599,519
    IstRad: 367
  Land Brandenburg:
    population: 1,675,505
    IstRad: 2,136
  Land Mecklenburg-Vorpommern:
    population: 1,018,023
    IstRad: 1,149
  Land Sachsen:
    population: 3,301,261
    IstRad: 3,401
  Land Sachsen-Anhalt:
    population: 1,808,476
    IstRad: 1,698
  Land Thüringen:
    population: 1,537,335
    IstRad: 872
Year 2022:
  Land Schleswig-Holstein:
    population: 1,646,633
    IstRad: 2,929
  Land Niedersachsen:
    population: 4,988,056
    IstRad: 6,729
  Land Bremen:
    population: 704,881
    IstRad: 1,078
  Land Nordrhein-Westfalen:
    population: 16,459,801
    IstRad: 16,397
  Land Hessen:
    population: 4,800,674
    IstRad: 3,308
  Land Rheinland-Pfalz:
    population: 2,180,424
    IstRad: 1,751
  Land Baden-Württemberg:
    population: 7,768,624
    IstRad: 7,280
  Land Bayern:
    population: 7,377,930
    IstRad: 10,548
  Land Saarland:
    population: 599,519
    IstRad: 365
  Land Brandenburg:
    population: 1,674,751
    IstRad: 2,083
  Land Mecklenburg-Vorpommern:
    population: 1,018,023
    IstRad: 1,182
  Land Sachsen:
    population: 3,301,261
    IstRad: 3,978
  Land Sachsen-Anhalt:
    population: 1,808,476
    IstRad: 1,823
  Land Thüringen:
    population: 1,585,400
    IstRad: 965
Year 2023:
  Land Schleswig-Holstein:
    population: 1,646,633
    IstRad: 3,078
  Land Niedersachsen:
    population: 4,988,056
    IstRad: 6,548
  Land Bremen:
    population: 704,881
    IstRad: 1,064
  Land Nordrhein-Westfalen:
    population: 16,459,801
    IstRad: 18,371
  Land Hessen:
    population: 4,802,947
    IstRad: 3,537
  Land Rheinland-Pfalz:
    population: 2,180,424
    IstRad: 1,843
  Land Baden-Württemberg:
    population: 7,771,930
    IstRad: 7,991
  Land Bayern:
    population: 7,374,526
    IstRad: 11,136
  Land Saarland:
    population: 599,519
    IstRad: 338
  Land Brandenburg:
    population: 1,677,867
    IstRad: 2,159
  Land Mecklenburg-Vorpommern:
    population: 1,018,023
    IstRad: 1,179
  Land Sachsen:
    population: 3,299,063
    IstRad: 3,946
  Land Sachsen-Anhalt:
    population: 1,808,579
    IstRad: 1,924
  Land Thüringen:
    population: 1,584,774
    IstRad: 1,038
Year 2024:
  Land Schleswig-Holstein:
    population: 1,646,633
    IstRad: 3,142
  Land Niedersachsen:
    population: 4,988,056
    IstRad: 6,445
  Land Bremen:
    population: 704,881
    IstRad: 956
  Land Nordrhein-Westfalen:
    population: 16,459,801
    IstRad: 17,862
  Land Hessen:
    population: 4,802,947
    IstRad: 3,382
  Land Rheinland-Pfalz:
    population: 2,178,589
    IstRad: 1,849
  Land Baden-Württemberg:
    population: 7,768,624
    IstRad: 7,936
  Land Bayern:
    population: 7,376,062
    IstRad: 10,847
  Land Saarland:
    population: 599,519
    IstRad: 332
  Land Brandenburg:
    population: 1,675,688
    IstRad: 2,233
  Land Mecklenburg-Vorpommern:
    population: 1,018,023
    IstRad: 1,169
  Land Sachsen:
    population: 3,301,261
    IstRad: 3,976
  Land Sachsen-Anhalt:
    population: 1,809,375
    IstRad: 2,025
  Land Thüringen:
    population: 1,591,240
    IstRad: 1,218

In [563]:
df_gini = pd.DataFrame(gini_arr)
df_gini.describe()

              Year        Gini
count   111.000000  111.000000
mean   2020.387387    0.728023
std       2.468607    0.094078
min    2016.000000    0.583732
25%    2018.000000    0.664055
50%    2020.000000    0.730766
75%    2022.500000    0.751120
max    2024.000000    0.989609

In [564]:
title = " ".join(val_label.split("_")).title() if "_" in val_label else val_label

chart = (
    alt.Chart(df_gini)
    .mark_line(point=True)
    .encode(
        x=alt.X("Year:O", title="Year"),
        y=alt.Y("Gini:Q", title="Gini Coefficient"),
        color=alt.Color("Land:N", title="State"),
        tooltip=[
            "Land",
            alt.Tooltip("Year:O", title="Year"),
            alt.Tooltip("Gini:Q", format=".3f"),
        ],
    )
    .properties(
        title=f"Gini Coefficient of {title} by State per Year",
        width=800,
        height=400,
    )
    .interactive()
)

chart.show()

alt.Chart(...)